/data/glogicserver
/cfg
/Ran Online
/Logs
/GMTool
/Launcher.exe.WebView2
/PortableGit
EditorActivity.exe
EditorBattlePass.exe
EditorClassConst.exe
EditorItem.exe
EditorItemMix.exe
EditorLevel.exe
EditorMapsList.exe
EditorMaterial.exe
EditorMobNpc.exe
EditorNpcAction.exe
EditorQuest.exe
EditorRandomOption.exe
EditorSetOptionData.exe
EditorSetOptionGen.exe
EditorShader.exe
EditorSkill.exe
EditorSkinChar.exe
EditorSkinPiece.exe
EditorTaxi.exe
EditorText.exe
EffectTool.exe
FileCrypt.exe
GameEmulator.exe
GameViewer.exe
GMTool.exe
GMToolConfig.ini
HWDetect.exe
Launcher.exe
MiniA.exe
PatchBuilder.exe
ServerAgent.exe
ServerField.exe
ServerLogin.exe
ServerManager.exe
ServerSession.exe
ServerSetting.exe
WorldTool.exe
GameEmulator.exe
EditorCodex.exe
WebView2Loader.dll
